.gradle/
.idea/
build/
out/
allure-results/
.allure/
./src/


./API/.gradle/
./API/build/
./API/out/
./API/allure-results/
./API/.allure/

./UI/.gradle/
./UI/build/
./UI/out/
./UI/allure-results/
./UI/.allure/

./Appium/.gradle/
./Appium/build/
./Appium/out/
./Appium/allure-results/
./Appium/.allure/