.gradle/
.idea/
build/
out/
allure-results/
.allure/
./src/


./API/.gradle/
./API/build/
./API/out/
./API/allure-results/
./API/.allure/

./_UI/.gradle/
./_UI/build/
./_UI/out/
./_UI/allure-results/
./_UI/.allure/

./Appium/.gradle/
./Appium/build/
./Appium/out/
./Appium/allure-results/
./Appium/.allure/